%p= "Hello #{@user.name},"
%p= "A new post has been added to the #{@project.name.capitalize} project at Ativa."
%p For more information, click the link below:
= link_to @project.name.capitalize, project_url(@project)
%br
%p Thank you,
%p The Ativa team